# URL for fetching all chapters of Lanman's reader
VITE_ALL_CHAPTERS_URL_LANMAN=http://localhost:3000/api/lanman/chapters

# URL for fetching a single chapter of Lanman's reader
VITE_SINGLE_CHAPTER_URL_LANMAN=http://localhost:3000/api/lanman/chapter

# URL for fetching all chapters of Macdonnell's reader
VITE_ALL_CHAPTERS_URL_MACDONNELL=http://localhost:3000/api/macdonnell/chapters

# URL for fetching a single chapter of Macdonnell's reader
VITE_SINGLE_CHAPTER_URL_MACDONNELL=http://localhost:3000/api/macdonnell/chapter

# URL for fetching author information
VITE_AUTHOR_URL=http://localhost:3000/api/user

# URL for Monier-Williams dictionary search
VITE_MW_DICT_URL=http://localhost:3000/api/mw

# URL for all dictionary search
VITE_ALL_DICT_URL=http://localhost:3000/api/all
