# MongoDB connection string
MONGO_URI=your_mongo_db_connection_string

# URL of the frontend application for CORS
FRONTEND_URL=http://localhost:5173

# Secret key for JWT
JWT_SECRET=your_jwt_secret

# Port for the backend server
PORT=3000
